.menu2b ul li:nth-child(2) {
    font-weight: bold;
}




.pavimentos h3,
.vertical h3 {
    font-size: 18px !important;
}

.pavimentos h3 a{
    color:black !important;
}
.vertical h3 a {
   color: black !important
}
#aplicacion-hormigon h2{
    margin-bottom: 15px;
}
.aplicar h3 {
    margin-bottom: 25px;
    margin-top: 30px;
}
#accordionExample{
    margin-top: 15px;
}
.imagen1{
    width: 700px;
}
/* movilcss */
@media screen and (max-width:480px) {}

/* tabletcss */
@media screen and (min-width:481px) and (max-width:767px) {}

/* laptopcss */
@media screen and (min-width:768px) and (max-width:1024px) {}

/* desktopcss */
@media screen and (min-width:1025px) and (max-width:1200px) {}


/*  largecss */
@media screen and (min-width:1201px) {}