h2 {
    margin-bottom: 10px;
}

p {
    margin-bottom: 2em;
}

figcaption {
    margin-top: 10px;
    margin-bottom: 45px;
    font-size: 90%;
    color: #6c757d;
}

.menu2b ul li:nth-child(4) {
    font-weight: bold;
}

/* movilcss */
@media screen and (max-width:480px) {}

/* tabletcss */
@media screen and (min-width:481px) and (max-width:767px) {}

/* laptopcss */
@media screen and (min-width:768px) and (max-width:1024px) {
    .foto {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
}

/* desktopcss */
@media screen and (min-width:1025px) and (max-width:1200px) {
    .foto {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
}


/*  largecss */
@media screen and (min-width:1201px) {

    .foto {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
}