#noticias .container{
    padding-right: 0px;
    padding-left: 0px;
}
#noticias .row{
        margin-right: 0px;
        margin-left: 0px;
}
.card {
    border: none;
}

.menu2b ul li:nth-child(5) {
    font-weight: bold;
}

.card-header a {
    color: black;
}

h1 {
    margin-bottom: 50px;
    text-align: center;
}
#noticia h2,h3, h4{
    margin-bottom: 15px;
}
#noticia p ul li{
    margin-bottom: 15px;
}
#noticias figure img{
    height: 700px;
    object-fit: cover;
    object-position: bottom;
    width: 100%;
}
#noticia .figure img{
  display:block;
  margin:auto;
      max-height: 900px;
}
#noticia .figure  {
    display: block;
}
#noticia figcaption{
    text-align: center;
}
.card-header {
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.card-header a:hover {
    color: black;
}

.card-header a {
    font-size: 23px !important;
}

.card-header img {
    max-width: 20%;
}

.card-header span {
    font-size: 0.6em;
}

.span4 {
    width: 100%;
}

#mitadTextoIzquierda{
    width: 100%;
}
#mitadTextoDerecha{
    width: 100%;
}
/* movilcss */
@media screen and (max-width:480px) {
    .pull-left {
        width: 100%;
    }

}

/* tabletcss */
@media screen and (min-width:481px) and (max-width:767px) {
    .pull-left {
        width: 100%;
    }
}

/* laptopcss */
@media screen and (min-width:768px) and (max-width:1024px) {
    .pull-left {
        width: 350px;
        height: 150px;
        object-fit: cover;
           object-position: bottom;

    }

}

/* desktopcss */
@media screen and (min-width:1025px) and (max-width:1200px) {
    .pull-left {
        width: 350px;
        height: 150px;
        object-fit: cover;
           object-position: bottom;

    }

}


/*  largecss */
@media screen and (min-width:1201px) {
    .pull-left {
        width: 350px;
        height: 180px;
        object-fit: cover;
        object-position: bottom;

    }


}