h2 {
    margin-bottom: 15px;
}

.card {
    border: none;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);


}

.faqs h2 {
    font-size: 18px !important;
}

.faqs h2 a {
    color: black !important;
}
/* movilcss */
@media screen and (max-width:480px) {
  

     .ventajas .card,
     .tipos .card, .moldes .col-md-6 {
         margin-bottom: 20px;
     }
}

/* tabletcss */
@media screen and (min-width:481px) and (max-width:767px) {
    
    .ventajas .card,
    .tipos .card,
    .moldes .col-md-6 {
        margin-bottom: 20px;
    }
}

/* laptopcss */
@media screen and (min-width:768px) and (max-width:1024px) {
    .card{
        min-height: 300px;
    }
    .ventajas .card,
    .tipos .card,
    .moldes .col-md-6 {
        margin-bottom: 20px;
    }
}

/* desktopcss */
@media screen and (min-width:1025px) and (max-width:1200px) {}


/*  largecss */
@media screen and (min-width:1201px) {

    .tipos .card {
        min-height: 525px;
    }

    .ventajas .card {
        min-height: 165px !important;
    }

    .ventajas .row {
        margin-bottom: 20px;
    }
}